body {
    font-family: Montserrat, sans-serif;
}

/* ----------------- */
/* START header css */
/* ----------------- */
.main-header {
    background: url("../imgs/header-background.png") center no-repeat;
    background-size: cover;
    height: 100%;

}
.header-background {
    top:0;
    position: absolute;
}
.container-header-background {
    margin: 60px;
}

.header-background h1 {
    width: 650px;
    color: white;
    padding-top: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 74pt;
}
.header-background .menu-trigger {
    float: right;
}
.header-background .menu-trigger p {
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: bold;
}
.header-background .know-more {
    border: 2px solid white;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .know-more:hover {
    border: 2px solid white;
    background: white;
    text-transform: uppercase;
    color: #135517;
    font-weight: 700;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .get-started {
    border: 2px solid white;
    background: white;
    text-transform: uppercase;
    font-weight: 700;
    color: #135517;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .get-started:hover {
    border: 2px solid white;
    background: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .menu-trigger i {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 35pt;
}
.header-left-top {

    position:relative;
    background: url("../imgs/header-info-bg.png") center no-repeat;
    background-size: cover;
}
.container-header-left {
    padding: 50px;
}
.logo {
    width: 139px;
    height: 45px;
    background: url("../imgs/logo.png") center no-repeat;
    background-size: cover;
}
.container-header-left .header-text {
    margin-top: 50px;
    margin-bottom: 40px;
}
.container-header-left .header-text h1 {
    width: 350px;
    color: white;
    font-size: 21pt;
}
.container-header-left .main-text {
    margin-bottom: 40px;

}
.container-header-left .main-text p {
    color: white;
    font-size: 15pt;
}
.container-header-left p {
    color: white;
    font-size: 15pt;
}
.container-header-left .icons {
    color: white;
    font-size: 24pt;
}
.container-header-left .contact-info p {
    color: white;
    font-size: 18pt;
}
.container-header-left .contact-info i {
    font-weight: bold;
    margin-right: 20px;
}
.container-header-left .contact-info .first i {
    margin-right: 28px;
}
/* ----------------- */
/* END header css */
/* ----------------- */

/* ----------------- */
/* START about us css */
/* ----------------- */
.about-us {
    background: #111111;
}
.about-us-container {
    padding: 100px 50px 100px 50px;
}
.about-us h1 {
    color: white;
    font-weight: 300;
    font-size: 40pt;
}
.about-us h1 span {
    color: #00ffff;
}
.about-us .about-us-text p {
    color: white;
    font-size: 18pt;
}
.about-us .types {
    margin-left: 60px;
    margin-top: 40px;
}
.about-us .types p {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16pt;
}
.about-us .types  p i{
    color: #595959;

}

/* ----------------- */
/* END about us css */
/* ----------------- */

/* ----------------- */
/* START portfolio css */
/* ----------------- */

.portfolio {
    margin-top: 70px;
}
.portfolio .header-text {
    text-align: center !important;
}
.portfolio .header-text h1 {
    font-size: 78pt;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.portfolio .header-text p {
    width: 88%;
    margin-left: 6%;
    font-size: 27pt;
    color: #bebebe;
}
.portfolio-img {
    padding: 15px;
}
.portfolio-img-small {
    height: 300px;
}
.portfolio-img-middle {
    height: 350px;
}
.portfolio-img-big {
    height: 600px;
}

.hover {
    background: transparent;
}
.hover:before {
    content: '';
    color: white;
    font-size: 150pt;
    font-weight: 300;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    transition: opacity 0.5s ease-out;
    background: linear-gradient(-41deg, rgba(132,181,0,1) 0%, rgba(0,197,199,1) 100%);
    opacity: 0.0;
}

.hover:hover:before {
    opacity: 0.8;
}
.image-main {
    width: 100%;
    height: 100%;
    background: center no-repeat;
    background-image: url("../imgs/p-img-1.png");
    background-size: cover;
}
.image-1 {
    width: 100%;
    height: 100%;
    background: url("../imgs/p-img-2.png") center no-repeat;
    background-size: cover;
}
.image-2 {
    width: 100%;
    height: 100%;
    background: url("../imgs/p-img-3.png") center no-repeat;
    background-size: cover;
}
.image-3 {
    width: 100%;
    height: 100%;
    background: url("../imgs/p-img-4.png") center no-repeat;
    background-size: cover;
}
.image-4 {
    width: 100%;
    height: 100%;
    background: url("../imgs/p-img-5.png") center no-repeat;
    background-size: cover;
}
.image-5 {
    width: 100%;
    height: 100%;
    background: url("../imgs/p-img-6.png") center no-repeat;
    background-size: cover;
}
.image-6 {
    width: 100%;
    height: 100%;
    background: url("../imgs/p-img-7.png") center no-repeat;
    background-size: cover;
}

/* ----------------- */
/* END portfolio css */
/* ----------------- */

/* ----------------- */
/* START articles css */
/* ----------------- */

.articles {
    margin: 90px 0 120px 0;
    border-bottom: 2px solid black;
}
.articles .header-text {
    text-align: center !important;
}
.articles .header-text h1 {
    font-size: 72pt;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.articles .header-text p {
    width: 89%;
    margin-left: 5.5%;
    font-size: 27pt;
    color: #bebebe;
}
.articles-articles {
    margin: 70px 50px 90px 50px;
    justify-content:center;
}
.articles-image-one {
    width: 100%;
    height: 380px;
    background: url("../imgs/article-one.png") center no-repeat;
    background-size: cover;
}
.articles-image-two {
    width: 100%;
    height: 380px;
    background: url("../imgs/article-two.png") center no-repeat;
    background-size: cover;
}
.articles-articles h1 {
    margin: 15px 0 45px 0;
    color: black;
    font-size: 26pt;
    font-weight: 200;
}
.articles-articles .know-more {
    border: 2px solid black;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.articles-articles .know-more:hover {
    background: black;
    color: white;
}
/* ----------------- */
/* END articles css */
/* ----------------- */

/* ----------------- */
/* START testemonialss css */
/* ----------------- */

.testemonials {
    margin: 90px 0px 0;
    border-bottom: 2px solid black;
}
.testemonials .header-text {
    text-align: center !important;
}
.testemonials .header-text h1 {
    font-size: 82pt;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.testemonials .header-text p {
    width: 89%;
    margin-left: 5.5%;
    font-size: 27pt;
    color: #bebebe;
}
.testemonials-testemonials {
    margin: 70px 50px 90px 50px;
    justify-content:center;

}
.testemonials-testemonials .img-one {
    width: 108px;
    height: 108px;
    background: url("../imgs/test-one.png") center no-repeat;
    background-size: cover;
}
.testemonials-testemonials .img-two {
    width: 108px;
    height: 108px;
    background: url("../imgs/test-2.png") center no-repeat;
    background-size: cover;
}
.testemonials-testemonials p {
    font-size: 18pt;
    color: black;
    font-weight: 100;
}
.testemonials-testemonials .name {
    font-size: 18pt;
    color: black;
     font-weight: bold;
 }
.testemonials-testemonials .location {
    font-size: 18pt;
    color: black;
    margin-top: -15px;
    font-weight: 500;
}


/* ----------------- */
/* END testimonials css */
/* ----------------- */

/* ----------------- */
/* START footer css */
/* ----------------- */

.footer {
    background: url("../imgs/footer-img.png") center no-repeat;
    background-size: cover;

}
.footer-container {
    padding: 70px 50px 70px 50px;
    border-bottom: 1px solid white;
}
.footer-get-touch {
    justify-content: center;

}
.footer-get-touch h1 {
    color: white;
    font-size: 42pt;
    font-weight: 200;
    text-transform: capitalize;
}
.footer-get-touch h2 {
     color: white;
     font-size: 25pt;
     font-weight: 200;
 }
.footer-get-touch .form-email {
    color: #b6b6b6;
    text-transform: uppercase;
    height: 70px;
    padding-left: 25px;
    font-weight: 100;
}
.footer-get-touch .btn-email {
    padding: 0 30px 0 30px;
    border: none;
    font-size: 17pt;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    background: url("../imgs/button_bg.png") center no-repeat;
    background-size: cover;
}
.footer-get-touch .btn-email:hover {
    color:  black;
}
.real-footer ul {
    color: white;
    text-transform: uppercase;
    font-size: 17pt;
}
.real-footer ul li {
    margin-right: 10px;
}
.real-footer ul li a {
    color: white;
}
.real-footer ul li a:hover {
    text-decoration: underline;
}
.real-footer ul li:not(:last-child):after {
     content: "|";
     margin-left: 10px;
 }
.real-footer p {
    color: white;
    font-size: 18pt;
    font-weight: 300;
}
.real-footer p span {
    color: #ffff00;
    font-weight: 500;
    font-size: 18pt;
}
.real-footer .information-text {
    margin-top: 80px;
    margin-bottom: 30px;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}
@media only screen and (max-width: 600px) {
    .container-header-background {
        display: none;
    }
    .portfolio .header-text h1 {
        font-size: 45pt;
    }
    .portfolio .header-text h1 {
        font-size: 45pt;
    }
    .articles .header-text h1 {
        font-size: 45pt;
    }
    .testemonials .header-text h1 {
        font-size: 45pt;
    }
    .about-us .types {
        margin-left: 0px;
    }
}