body {
    font-family: Montserrat, sans-serif;
}

/* ----------------- */
/* START header css */
/* ----------------- */
.main-header {
    background: url("../imgs/header-background.png") center no-repeat;
    background-size: cover;
    height: 100%;

}
.header-background {
    top:0;
    position: absolute;




}
.container-header-background {
    margin: 60px;
}
.header-background h1 {
    color: white;
    padding-top: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 74pt;
}
.header-background .menu-trigger {
    float: right;
}
.header-background .menu-trigger p {
    color: white;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: bold;
}
.header-background .know-more {
    border: 2px solid white;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .know-more:hover {
    border: 2px solid white;
    background: white;
    text-transform: uppercase;
    color: #135517;
    font-weight: 700;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .get-started {
    border: 2px solid white;
    background: white;
    text-transform: uppercase;
    font-weight: 700;
    color: #135517;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .get-started:hover {
    border: 2px solid white;
    background: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.header-background .menu-trigger i {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 35pt;
}
.header-left-top {

    position:relative;
    background: url("../imgs/header-info-bg.png") center no-repeat;
    background-size: cover;
}
.container-header-left {
    padding: 50px;
}
.logo {
    width: 139px;
    height: 45px;
    background: url("../imgs/logo.png") center no-repeat;
    background-size: cover;
}
.container-header-left .header-text {
    margin-top: 50px;
    margin-bottom: 40px;
}
.container-header-left .header-text h1 {
    color: white;
    font-size: 21pt;
}
.container-header-left .main-text {
    margin-bottom: 40px;

}
.container-header-left .main-text p {
    color: white;
    font-size: 15pt;
}
.container-header-left p {
    color: white;
    font-size: 15pt;
}
.container-header-left .icons {
    color: white;
    font-size: 24pt;
}
.container-header-left .contact-info p {
    color: white;
    font-size: 18pt;
}
.container-header-left .contact-info i {
    font-weight: bold;
    margin-right: 20px;
}
.container-header-left .contact-info .first i {
    margin-right: 28px;
}
/* ----------------- */
/* END header css */
/* ----------------- */

/* ----------------- */
/* START about us css */
/* ----------------- */
.about-us {
    background: #111111;
}
.about-us-container {
    padding: 100px 50px 100px 50px;
}
.about-us h1 {
    color: white;
    font-weight: 300;
    font-size: 40pt;
}
.about-us h1 span {
    color: #00ffff;
}
.about-us .about-us-text p {
    color: white;
    font-size: 18pt;
}
.about-us .types {
    margin-left: 60px;
    margin-top: 40px;
}
.about-us .types p {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18pt;
}
.about-us .types  p i{
    color: #595959;

}

/* ----------------- */
/* END about us css */
/* ----------------- */

/* ----------------- */
/* START portfolio css */
/* ----------------- */

.portfolio {
    margin-top: 70px;
}
.portfolio .header-text {
    text-align: center !important;
}
.portfolio .header-text h1 {
    font-size: 78pt;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.portfolio .header-text p {
    width: 88%;
    margin-left: 6%;
    font-size: 27pt;
    color: #bebebe;
}

/* ----------------- */
/* END portfolio css */
/* ----------------- */

/* ----------------- */
/* START articles css */
/* ----------------- */

.articles {
    margin: 70px 0 120px 0;
    border-bottom: 2px solid black;
}
.articles .header-text {
    text-align: center !important;
}
.articles .header-text h1 {
    font-size: 78pt;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.articles .header-text p {
    width: 89%;
    margin-left: 5.5%;
    font-size: 27pt;
    color: #bebebe;
}
.articles-articles {
    margin: 70px 50px 90px 50px;
    justify-content:center;
}
.articles-image-one {
    width: 100%;
    height: 380px;
    background: url("../imgs/article-one.png") center no-repeat;
    background-size: cover;
}
.articles-image-two {
    width: 100%;
    height: 380px;
    background: url("../imgs/article-two.png") center no-repeat;
    background-size: cover;
}
.articles-articles h1 {
    margin: 15px 0 45px 0;
    color: black;
    font-size: 26pt;
    font-weight: 200;
}
.articles-articles .know-more {
    border: 2px solid black;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
}
.articles-articles .know-more:hover {
    background: black;
    color: white;
}